@model IEnumerable<Workshop5_CPRG214_WebApp.Models.BookingDetails>

@{
    ViewData["Title"] = "Index";
}

<div class="hero-wrap" style="background-image: url('../../images/bg_4.jpg');height:300px !important">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="height:440px !important;">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Order Packages</h1>
            </div>
        </div>
    </div>
</div>

@{int i = 1; }
@if (Model.Count() > 0)
{
    <section class="ftco-section bg-light">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-4 ftco-animate fadeInUp ftco-animated">
                        <div class="destination">
                            <a href="javascript://" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/@(i).jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="#">Package: @Html.DisplayFor(modelItem => item.Booking.Package.PkgName)</a></h3>
                                        <p class="rate">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star-o"></i>
                                            <span>8 Rating</span>
                                        </p>
                                    </div>
                                    <div class="two">
                                        <span class="price">Price: @Html.DisplayFor(modelItem => item.BasePrice)</span>
                                    </div>
                                </div>
                                <p>Description: @Html.DisplayFor(modelItem => item.Description)</p>
                                <p>Destination: @Html.DisplayFor(modelItem => item.Destination)</p>
                                <p>Class: @Html.DisplayFor(modelItem => item.Class.ClassName)</p>
                                <p>Region: @Html.DisplayFor(modelItem => item.Region.RegionName)</p>
                                <p class="days">@Html.DisplayNameFor(model => model.TripStart): <span>@Html.DisplayFor(modelItem => item.TripStart)</span></p>
                                <p class="days">@Html.DisplayNameFor(model => model.TripEnd): <span>@Html.DisplayFor(modelItem => item.TripEnd)</span></p>

                            </div>
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>
    </section>
}
else
{
    <div class="norecord">
        <p>There is no order packages now.</p>
    </div>
}


