@model IEnumerable<Workshop5_CPRG214_WebApp.Models.Bookings>

@{
    ViewData["Title"] = "Index";
}


<div class="hero-wrap" style="background-image: url('images/bg_2.jpg');height:300px !important">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="height:440px !important;">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <span class="subheading">Special Offers</span>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tour Packages</h1>
            </div>
        </div>
    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package.PackageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripType.TripTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
